<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>palo-alto</title>

    <meta name="keywords" content="Palo Alto" />

    <meta name="description" content="Palo Alto" />

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="normalise.css">

    <!-- Собственные стили -->
    <link rel="stylesheet" href="main.css">

    <!-- Подключение веб-шрифтов -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.ico" sizes="32x32" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.ico" sizes="32x32" />


</head>

<body>
    {{> includes/header/header}}

    {{#> main-block}}
    {{/main-block}}

    {{> includes/footer/footer}}
  </body>
</html>
