
body { 
  margin: 0;
  font-family: CenturyGothic, sans-serif;
  font-size: 35px;
  line-height: 56px;
  letter-spacing: 0.025em;
  color: #1a1a1a;
}

.cv {
   font-family: 'Lato', sans-serif;
  width: 1400px;
  box-sizing: border-box;
  margin: auto;
  padding: 0 100px;
    background: #f7f9fc;
    padding-bottom: 105px;
}
.header {
    font-family: 'Lato', sans-serif;
    font-family: 'Lato', sans-serif;
    padding-top: 70px;
    margin-left: 120px;;
   
    
}

.cv__profile {
    box-sizing: border-box;
    box-shadow: 0 0 10px #999ca0;
  margin: auto;
    background: #ffffff;
    width: 952px;
        
}



.header__text {
    font-size: 42px;
    margin-bottom: 80px;
}

.profile__line {
    margin-top: 40px;
    height: 2px; 
    margin-left: 95px;
    margin-right: 95px;
    background: #eeeeee;
}

.profile__text-div {
    display: inline-block;
    margin-top: 80px;
    margin-left: 95px;
    font-size: 40px;
}

.profile-info__forms {
    font-size: 20px;
    font-weight: 500;
    text-align:justify;
    height: 55px;
    width: 365px;
    background: #f7f9fc;
    border: white;
}


.profile-info{
   margin-left: 30.5%;
    margin-right: 30.5%;
}

.footer {
    font-family: 'Lato', sans-serif;
    background: #5c6bc0;
    width: 1400px; 
    margin-right: auto;
    margin-left: auto;

    
    

}

.footer__text {
    display: inline-block;
    padding: 9px;
    padding-left: 44.1%;
    padding-right: 44.1%;
    font-size: 36px;
    color: #4a569a;
    
}

.profile-info__myradio {
  
  width: 20px;
  height: 20px;
  cursor: pointer;

    
    
}

.myradio + label {
    
        cursor: pointer;
}

.profile__section__submit {
    margin-left: 50px;
    font-size: 24px;
     font-weight: 600;
    color: #5c6bc0;
    background: #fff;
    border: #fff;
    margin-bottom: 80px;
    cursor: pointer;
}


.profile-info__sex {
    margin-top: 50px;
    margin-bottom: -30px;
    font-size: 30px;
     font-weight: 500;
}

#submit {
     background: #fff;
    
}
#submit:hover{
    border: 2px solid #f1f1f1;
    
}
#submit:active{
    border: 2px solid #7d89cd;
    
}

#date:active{
  border: 3px solid #5c6bc0;
}
    

#First-Name:active{
  border: 3px solid #5c6bc0;
}

#Last-Name:active{
  border: 3px solid #5c6bc0;
    
}

#email:active{
  border: 3px solid #5c6bc0;
}

#phone:active{
  border: 3px solid #5c6bc0;
    
}

.profile-info__content {
    font-size: 20x;
    font-weight: 500;
}

.male {
    font-size: 20px;
    
}

.sex-content {
   
}

.profile-info__sex-content-female {
    margin-top: -50px;
}

.profile-info__sex-content-male {
    margin-top: 20px;
}


}
