 <footer class="footer">
        <h2 class="footer__text-palo"> Palo Alto</h2>
        <div class="footer__nav">
            <span class="footer__nav__text-home">HOME</span> 
            <span class="footer__nav__text-profile">PROFILE</span>

            <img class="footer__nav__search" src="img/Search.svg">

        </div>

        <div class="footer-content">

            <span class="footer__text__information">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by </span>
            <span class="footer__text__information-phone">© 2015 - Palo Alto. All Rights Reserved.</span>
            <span class="footer__text__information-phone_designed">Designed & Developed by</span>
            <span class="stile__team">PixelBuddha Team</span>

        </div>

        <div class="sprites">
            <a href="https://www.facebook.com" class="facebook sprites_link">
                <i class="sprites-i" style="background: url(img/sprete.png) 22px 0px"></i>
            </a>
            <a href="https://twitter.com" class="twitter sprites_link">
               <i class="sprites-i" style="background: url(img/sprete.png) 0px 44px"></i>
            </a>
            <a href="https://www.instagram.com" class="instagram sprites_link">
               <i class="sprites-i" style="background: url(img/sprete.png) 0px 0px"></i>
            </a>
            <a href="https://ru.pinterest.com" class="pinterest sprites_link">
                <i class="sprites-i" style="background: url(img/sprete.png) 22px 44px"></i>
            </a>
        </div>

    </footer>