<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <title>palo-alto</title>

    <!-- Собственные стили -->
    <link rel="stylesheet" href="/home/abram/Рабочий стол/palo-alto/src/css/style.css">

    <!-- Подключение веб-шрифтов -->
     <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <link rel="shortcut icon" type="image/x-icon" href="img/02.ico">


</head>


<body>
    
    <div class="cv">

        <header class="header">
            <h1 class="header__text">Palo Alto </h1>
        </header>

         {% block main %}
         {% endblock %}

    <footer class="footer">
        <h2 class="footer__text"> Palo Alto</h2>
    </footer>

</body>

</html>
</div>
