 <div class="cv">

        <header class="header">
            <h1 class="header__name">Palo Alto </h1>
            <!--            <a class="menu-header">-->

            <div class="line-menu-one"></div>
            <div class="lien-menu-two"></div>
            <div class="line-meu-three"></div>
            <!--
                
            </a>
-->
            <div class="heder__menu">
                <span class="heder__menu-home">HOME</span>
                <span class="heder__menu-profile">PROFILE</span>
                <img class="heder__menu-img" src="img/Search_b.svg">


            </div>

        </header>