{% extends "layout.html" %}

{% block main %}

<main>
            <div class="cv__information">
                <div class="label">
                    <p class="label__position">I Do Travel</p>
                </div>
                <section class="one-block">
                    <div class="content-one">
                        <span class="content__one__page">
                        sep 20
                        </span>
                        <h3 class="content_one__text">
               No difference how many peaks you reach if
               there was no pleasure in the climb.
           </h3>
                        <div class="content-one__line">
                        </div>

                        <p class="content-one__text-two">
                            Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.

                        </p>
                        <div class="bottom">
                            <form class="submit">
                                <p class="submit__block">
                                    <input class="submit__block-read-more" type="submit" name="submit" id="submit" value="READ MORE">
                                </p>
                            </form>


                            <pre class="bottom__hash">
                #Yosemite  #Peak   #Explorer
           </pre>

                        </div>
                    </div>

                </section>

            </div>


            <section class="photo-one">
                <img class="photo" src="src/img/half_dome.jpg">
            </section>
            <section class="cv__information">
                <div class="label">
                    <p class="label__position">I Do Observe</p>
                </div>
                <div class="content-one">
                    <div class="content__one__page">
                        sep 18
                    </div>
                    <h3 class="content_one__text"> You know, I'd rather argue with you, then laugh with anyone else.
                </h3>
                    <div class="profile__line">
                    </div>
                    <p class="cursor">Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor velit hendrerit, vulputate lacus. Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod est, vitae accumsan purus. Proin aliquet ex massa, ac finibus magna commodo vitae.</p>

                    <p class="content-one__text-two">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
                    </p>
                    <p class="content-one__text-two">
                        Sed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra. Curabitur semper scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat. Nulla odio mi, iaculis id congue quis, euismod id nisi. In varius congue diam, et viverra lorem bibendum ut.
                    </p>



                    <div class="bottom">

                        <p class="submit__block">
                            <input class="submit__block-read-more" type="submit" name="submit" id="submit" value="READ MORE">
                        </p>

                        <pre class="bottom__hash">
                #Yosemite  #Peak   #Explorer
           </pre>

                    </div>

                </div>
            </section>
        </main>
        
         {% endblock %}